#footer{
    height: 100%;
}
#maxime
{
    background-color: #c29999;
    color: white;
    font-size: 0.7em;
    text-align: center;
}
.keyword{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#keyword-container{
    border: 3px dotted #ff1313;
    border-radius: 45px;
    width: 100%;

}
#keywords-de-saison{
    display: flex;
}
#token-left
{
    position: relative;
    left: 60px  ;
   
}
#token-right{
    position: relative;

    right: 60px;

}