#footer{
    height: 200px;
}
#maxime
{
    background-color: #c29999;
    color: white;
    font-size: 0.7em;
    text-align: center;
}
.keyword{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}