div {
    border: 1px solid black;
    border-radius: 10px;
}

.main {
    padding-top: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(40px, auto);
}

.one {
    grid-column: 1/ span 8;
    grid-row: 1 / span 13;

}

.two {
    grid-column: 10 / span 5;
    grid-row: 1 /span 2;
}

.three {
    grid-row: 1 /span 2;
    grid-column: 16 /span 5;
}

.four {
    grid-column: 10 / span 5;
    grid-row: 4 / span 2;
}

.five {
    grid-column: 16 /span 5;
    grid-row: 4 / span 2;
}

.six {
    grid-column: 15/span 1;
    grid-row: 3 / span 1;

}

.seven {
    grid-column: 9 /span 12;
    grid-row: 7 / span 6;
    margin-left: 15px;
}

.magie-materiel {
    display: flex;
}

.magie-materiel > div {
    width: 50%;
    margin: 5px;
}

#temps {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    text-align: center;
    }
#temps.p{
    vertical-align: middle;

}