/*font: Merienda*/
#attributs{
    display:flex;
    border:1px solid;
}
#main{
    border:1px solid;

    display:flex;
}
tr{
    border:1px solid;

}
td{
    border:1px solid;

}
th{
    border:1px solid;

}
#groupeDeSaisons{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
}
.saison{
    height:100px;
    width:350px;
    border: 2px solid;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 25px;
}