
@font-face {
    font-family: "Merienda";
    src: url('../assets/font/Merienda-Regular.ttf');
}

@font-face {
    font-family: "Merienda";
    font-weight: bold;
    src: url('../assets/font/Merienda-Bold.ttf');
}

body{
    font-family: "Merienda", serif;
    font-style: normal;
    line-height: 1;
}
p{
    margin-top:5px;
    margin-bottom: 0;
}

#attributs {
    display: flex;
    height: 150px;
    

}
#attributs>div{
    width: 25%;
}
#logo{
display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    width: 235px;
}
.header-content{
    display: flex;

}
.icone{
    height: 0.6em;
    width: auto;
    margin-top: 10px;

}
.info-perso{
    text-align: center;
    width: 60%;
}
.liste{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.liste >li{
    margin-right: 4px;

}